<div class="py-4">
  <div class="flex flex-wrap items-center gap-x-6 gap-y-2 mb-4 -ml-4 md:-ml-6">
    <h1 class="font-serif text-4xl md:text-5xl tracking-tight text-gray-900 flex-shrink-0"
        style="color: #1e1e1e; font-family: 'Crimson Text', 'Garamond', 'Baskerville', serif;">
      <%= @class_c.name %>
    </h1>

    <span class="hidden md:block h-6 w-0.5 bg-red-800"></span>

    <p class="text-xl md:text-2xl text-red-900">
      Ejercicio: <%= @problem.name %>
    </p>
  </div>

  <div class="flex flex-wrap items-center gap-x-4 gap-y-2 mt-4">
    <!-- Student Submissions Table -->
    <div class="w-full overflow-x-auto shadow-md sm:rounded-lg mt-8 mb-6">
      <table class="w-full text-sm text-left text-gray-700">
        <thead class="text-xs uppercase bg-gray-100">
        <tr>
          <th scope="col" class="px-6 py-4 font-sans text-sm text-gray-900">Alumno</th>
          <th scope="col" class="px-6 py-4 font-sans text-sm text-gray-900">Estado</th>
          <th scope="col" class="px-6 py-4 font-sans text-sm text-gray-900">Fecha de entrega</th>
        </tr>
        </thead>
        <tbody>
        <% @students.each do |student| %>
          <tr class="border-b hover:bg-gray-50">
            <td class="px-6 py-4 font-medium"><%= student.name %></td>
            <td class="px-6 py-4">
            <span class="flex items-center">
              <svg class="w-4 h-4 text-red-800 mr-1.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 16 12">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5.917 5.724 10.5 15 1.5"/>
              </svg>
              <span class="text-gray-700">Entregado</span>
            </span>
            </td>
            <td class="px-6 py-4 text-gray-600">
              <%= student.created_at.strftime("%d/%m/%Y %H:%M") %>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>